[Unit]
Description=Rust API Service

[Service]
ExecStart=shell/start.sh
WorkingDirectory=/root/project/rust_api
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
